.game-over{
    transition: all 3s;
}
.title-over{
    position: absolute;
    top: 15%;
    left: 50%;
    z-index: 100;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.wrap-table{
    position: absolute;
    top: 32%;
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.scoreBoard{
    display: relative;
}

.scoreBoard .score-end-game{
    position: absolute;
    top: 27%;
    left: 33%
}

.scoreBoard .best-score{
    position: absolute;
    top: 27%;
    right: 33%
}

.playAgain{
    margin-top: 15px;
    cursor: pointer;

}