.game{
    width: 300px;
    height: 500px;
    background-color: pink;
    position: relative;
    overflow: hidden;
}
.app{
    background-color: #403e3e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}