.start-game{
    /* position: relative; */
}

.getReady{
    position: absolute;
    top: 17%;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 100;
}

.tutorial{
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 100;
}